<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar" th:if="${userRole == 'admin'}">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-text mx-3">School Management</div>
    </a>

    
    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Manage
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/manage/sessions}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Sessions</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/manage/teacher}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Teachers</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/manage/subjects}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Subjects</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/manage/streams}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Streams</span></a>
    </li>

    <div class="sidebar-heading">
        Account
    </div>

    <li class="nav-item">
        <a class="nav-link" href='/dashboard/changePassword'>
            <i class="fas fa-key"></i>
            <span>Change Password</span></a>
    </li>
    </hr>
</ul>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar" th:if="${userRole == 'student'}">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-text mx-3">School Management</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Links
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/student/classrooms}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Classrooms</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Account
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/changePassword}">
            <i class="fas fa-key"></i>
            <span>Change Password</span></a>
    </li>
</ul>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="sidebar" th:if="${userRole == 'teacher'}">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
        <div class="sidebar-brand-text mx-3">School Management</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Links
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/teacher/subjects}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Subjects</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/teacher/payouts}">
            <i class="fas fa-fw fa-cog"></i>
            <span>Payouts</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Account
    </div>

    <li class="nav-item">
        <a class="nav-link" th:href="@{/dashboard/changePassword}">
            <i class="fas fa-key"></i>
            <span>Change Password</span></a>
    </li>
</ul>
